
.vtoolbarbutton {
    width: 65px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 7px;
}

.vtoolbarbutton-icon.imagebox {
    width: 24px;
    height: 24px;
    align-self: center;
}

.vtoolbarbutton-text.textlabel {
    text-align: center;
    line-height: 14px;
}
