
.menubar, .menubarmodal {
    background: var(--headercolor);
    color: var(--headertextcolor);
    font: 12px/16px "Segoe UI", "Tahoma", sans-serif;
    line-height: 30px;
    padding: 0 8px;
}

.menubarmodal {
    cursor: default;
}

.menubar-spacer, .menubarmodal-spacer {
    flex: 1 1 0;
}

.menubaritem, .menubarmodalitem {
    position: relative;
    margin: 3px 0;
    border: 1px solid transparent;
    padding: 0 9px;
    line-height: 24px;
    cursor: default;
    border-radius: 4px;
}

.menubarmodalitem-open {
    border: 1px solid var(--menubordercolor);
    border-bottom: none;
    color: black;
    background: var(--menubackground);
    z-index: 1;
    border-radius: 4px 4px 0 0;
}

.menubaritem:hover {
    background: var(--menubaritemhighlightbackground);
    color: var(--menubaritemhighlightcolor);
    border-color: var(--paneledgecolor);
}
