
.toolbarbutton {
    padding-right: 5px;
    margin-right: 5px;
    user-select: none;
}

    .toolbarbutton.disabled {
        opacity: 0.5;
        filter: grayscale();
    }

    .toolbarbutton:hover {
        background: var(--toolbarbuttonhover);
    }

    .toolbarbutton.disabled:hover {
        background: none;
    }

.toolbarbutton-icon.imagebox {
    padding: 3px 4px 3px 5px;
    width: 24px;
    height: 24px;
}

.toolbarseparator {
    border-right: 1px solid var(--toolbarseparatorcolor);
    width: 1px;
    height: 24px;
    margin: 3px 5px;
}

.toolbardropdown {
    margin-right: 5px;
}

.toolbardropdown-combobox {
    align-self: center;
    margin-left: 5px;
    background: white;
    border: 1px solid var(--controlbordercolor);
    color: black;
    width: 150px;
}

.toolbartextinput {
    margin: 0 6px 0 10px;
}

.toolbartextinput-edit {
    align-self: center;
    margin-left: 5px;
    margin-bottom: 4px;
    background: white;
    border: 1px solid var(--controlbordercolor);
    color: black;
    line-height: 16px;
    width: 200px;
}

.toolbar {
    padding: 5px 5px 5px 10px;
    line-height: 30px;
    align-items: center;
}

.toolbar-view {
    margin-right: 5px;
}
