
.listview {
    flex: 1 1 0;
}

.listview-headersplitter {
    cursor: ew-resize;
    justify-content: center;
}

.listview-headersplitter > .view {
    border-left: 1px solid var(--listviewheadersplitter);
    width: 1px;
}

.listviewheader {
    background: var(--panelcolor);
    padding: 0 5px;
    font-weight: bold;
    line-height: 24px;
}

.listviewbody {
    background: white;
    overflow: auto;
    outline: none;
}

.listviewheadline {
    font-weight: bold;
}

.listviewitem {
    line-height: 24px;
    padding: 0 5px;
    user-select: none;
}

.listviewitem.focused {
    outline: 1px dotted var(--listviewitemoutline);
    outline-offset: -1px;
}

.listviewbody.alternate .listviewitem:nth-child(even) {
    background: var(--alternaterowcolor);
}

.listviewbody.alternate .listviewitem:hover {
    background: var(--listviewitemhover);
}

.listviewitem:hover {
    background: var(--listviewitemhover);
}

.listviewitem.selected,
.listviewbody.alternate .listviewitem.selected {
    background: var(--listviewitemselected);
}

.listview.focused .listviewitem.selected,
.listview.focused .listviewbody.alternate .listviewitem.selected {
    background: var(--listviewfocuseditemselected);
}

.listviewitemicon {
    width: 16px;
    height: 16px;
    padding-right: 4px;
    align-self: start;
    padding-top: 4px;
}
