
.windowheader {
    background: var(--headercolor);
    color: var(--headertextcolor);
    line-height: 30px;
    height: 30px;
}

.windowheader-caption.textlabel {
    padding-left: 40px;
    text-align: center;
    -webkit-app-region: drag;
}

.dialogheaderbutton path {
    fill: var(--dialogheaderbuttoncolor);
}

.windowheader-minbutton.dialogheaderbutton:hover {
    background: var(--dialogheaderbuttonhighlight);
}

.windowheader-maxbutton.dialogheaderbutton:hover {
    background: var(--dialogheaderbuttonhighlight);
}

.windowheader-closebutton.dialogheaderbutton:hover {
    background: var(--dialogclosebuttonhighlight);
}
