
.dialog {
    position: fixed;
    background: var(--panelcolor);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.dialogheader {
    background: var(--headercolor);
    color: white;
    line-height: 30px;
    height: 30px;
}

.dialogheader-caption.textlabel {
    padding-left: 40px;
    text-align: center;
}

.dialogheaderbutton {
    width: 12px;
    height: 12px;
    padding: 9px 14px;
}

.dialogheader-closebutton.dialogheaderbutton:hover {
    background: red;
}

.dialog-centerview {
}
