
.borderlayout-vbox {
    position: absolute;
    width: 100%;
    height: 100%;
}

.borderlayoutsplitter {
    cursor: ew-resize;
    background: var(--splittercolor);
    width: 5px;
}

.vborderlayoutsplitter {
    cursor: ns-resize;
    background: var(--splittercolor);
    height: 5px;
}
